@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.App{
    text-align:center;
    margin-top:0;
    height:100vh;
    margin-top:-40px;
    margin-left:-8px;
    margin-right:-8px;
    margin-bottom:-10px;
}
.pomodoro{
    display:flex;
    color:white;
    align-items:center;
    margin:10px auto;
    flex-direction: column;
    border-radius:10px;
    width:50%;
}
h1{
    margin-top:4rem;
    font-size: 6rem;
}
h2{
    font-size: 3rem;
    color:#fff;
}
.widget-container{
    width:60%;
    margin:auto;
    border-radius:1rem;
    padding-top:1.5rem;
    padding-bottom:1px;
}
@media only screen and(max-width: 650px){
    .widget-container{
        width:85%;
    }
}

.btn{
    background-color: #858585;
    font-family: 'Poppins', sans-serif;
    color:white;
    cursor: pointer;
    width:fit-content;
    padding:0 10px 0 10px;
    margin-left:1rem;
    margin-bottom: 20px;
    border-radius:5px;
    font-size:1.75rem;
    border:none;
    &:hover{
            color:rgb(211, 211, 211);
        }
}

.link-btn{
    border-radius:5px;
    cursor: pointer;
    font-size:1.5rem;
    margin:5px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
    font-family: 'Poppins', sans-serif;
    color:#fff;
      &:hover{
            color:rgb(211, 211, 211);
            border-radius:10px;
        }
}

.header{
    border:none;
    height:20%;
    h2{
        padding-top:50px;
        line-height: 1;
    }
}
